body {
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon-header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
    width: 50px;
    border-radius: 50%;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Header  */
  .header {
    display: flex;
    align-items: center;
    height: 63px;
    justify-content: space-between;
    /* padding: 0 30px 0 30px; */
    background-color: #D0B999;
    width: 99.7vw;
    border: 2px solid #fff;
    /* box-shadow: 0 9px 9px -3px rgba(0, 0, 0, 0.35); */
  }
  .header-right{
    display: flex;
    gap: 2rem;
    margin-left: 43rem;
    align-items: center;
  }
  .header-right span{
    font-size: 26px;
    font-weight: 700;
    margin-right: 20rem;
  }
  
  .search-dashboard{
    padding: 15px;
    border: none;
    height: 14px;
    width: 30vw;
    border-radius: 25px;
  }
  .menu-icon {
    display: none;
  }
  /* End Header  */
  
  /* Sidebar  */
  #sidebar {
    height: 91vh;
    width: 300px;
    background-color: #D0B999;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    display: flex;
    gap: 1rem;
  }
  .sidebar-brand h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 2rem;
  }
  .sidebar-brand img{
    height: 7vh;
    width: 3.5vw;
  }
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 10px 0 10px 40px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: #fff;
    cursor: pointer;
    color: #D0B999;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #000;
  }
  .sidebar-list-item > a:hover {
    color: #D0B999;
  }
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }
  /* End Sidebar  */
  
  
  /* Main  */  
  .main-container {
    overflow-y: auto;
    margin-left: 5%;
    width: 69vw;
    padding: 70px 40px;
    color: #000;
  }
  .dashboard-container{
    display: flex;
    justify-content: flex-start;
  }
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  .main-title h3{
    font-size: 20px;
    font-weight: 900;
    margin-left: 2rem;
  }
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7px 15px;
    border-radius: 5px;
  }
  
  .card:first-child {
    background-color: #D0B999;
  }
  
  .card:nth-child(2) {
    background-color: #D0B999;
  }
  
  .card:nth-child(3) {
    background-color: #D0B999;
  }
  
  .card:nth-child(4) {
    background-color: #D0B999;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 20px;
  }
  .dashboard-landing-links{
    text-decoration: none;
    color: #000;
  }
  .charts {
   display: flex;
   height: 40vh;
   width: 62vw;
   gap: 2rem;
   margin-top: 10rem;

  }
  /* End Main  */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      height: 100vh;
      margin-top: 5rem;
    }
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }